@font-face {
  font-family: "NanumMyeongjo";
  src: url("./fonts/NanumMyeongjo-Bold.ttf") format("truetype");
  }

.App{
  margin: 0;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body::before{
  content: "";
  position: absolute;
  background-image: url("./assets/backgound.png");
  background-size: cover;
  width:100%;
  height: 100%;
  margin: 0;
}


