.title {
  color: white;
  margin-top: 22em;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 300;
}

.title .main {
  font-size: 6rem;
}

.title .sub {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.start_button {
  color: white;
  text-align: center;
  margin: 15em auto 0 auto;
  display: inline-block;
  border: 4px solid white;
  border-radius: 3rem;
  padding: 0.7em 1.1em 0.7em 1.1em;
  cursor: pointer;
  text-decoration: none !important;
}

.start_button span {
  color: white;
  font-family: "Nanum Gothic", serif;
  font-size: 2rem;
  font-weight: bold;
}
