html {
  height: 100%;
  background-color: #000;
}

.mydays_container {
    margin: 0 4em 0 4em;
    color: white;
    font-family: "Nanum Myeongjo", serif;
}

.main_section h2 {
    font-size: 2.2rem;
    font-weight: 100;
}

.main_section_inner {
    display: flex;
}

.chart_menu {
    width: 20%;
    text-align: center;
}

.chart_menu div {
    display: block;
    cursor: pointer;
    margin-bottom: 1em;
}

.period_nav {
    width: 20%;
    text-align: center;
    font-size: 1.2rem;
    border-right: 2px solid white;
}

.period_nav div {
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 1em;
}

.selected {
    color: #FFC2C2;
}