@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.nanummyeongjo * {
  font-family: "Nanum Myeongjo", serif;
}

.item {
  font-family: "Nanum Myeongjo", serif;
  color: white;
  font-size: 2.5rem;
}

.nav-icon {
  color: white;
  font-size: 2.5rem;
  margin-left: 0.7em;
}

.container {
  width: 90%;
  height: 70%;
  display: flex;

  margin: 6%;
}

.complete {
  width: 20vw;
  height: 3%;
  border-bottom: 2px solid #c3e3cb;
  padding-bottom: 1rem;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #c3e3cb;
  text-align: center;
  word-break: keep-all;
}

.today {
  margin-left: 20%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin: 0;
  font-family: "Nanum Myeongjo", serif;
  font-size: 2.6rem;
  color: white;
  margin-bottom: 1em;
  margin-left: 1em;
}

.horizon {
  display: inline-block;
  width: 13em;
  height: 5em;
  border-left: 2px solid white;
}

.time {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.563rem;
  color: white;
  margin-right: 1em;
}

li {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.8rem;
  color: white;
  margin-left: -0.3em;
}

li::marker {
  font-size: 3.3rem;
  margin: 0px;
}

.todo {
  width: 60vw;
}

.check-list {
  margin-left: 1em;
  margin-bottom: 1em;
  font-family: "Nanum Myeongjo", serif;
  color: white;
  font-size: 2.188rem;
  font-weight: lighter;
}
