/* 방법 1 */
/* @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.nanummyeongjo * {
  font-family: "Nanum Myeongjo", serif;
} */

/* 방법 2 */
/* @font-face {
  font-family: "NanumMyeongjo";
  src: url("../fonts/NanumMyeongjo-Bold.ttf") format("truetype");
} */

.header {
  color: #ffffff;
  display: flex;
  height: 20%;
}

.logo {
  width: 7rem;
  height: 7rem;
  border: 4px solid white;
  font-family: "Varela Round", sans-serif;
  color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_menu {
  margin-top: 1%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "NanumMyeongjo", serif;
  font-style: normal;
  font-weight: normal;
}

.main_menu a {
  color: #ffffff;
  font: 1.2em;
}

.main_menu a:hover {
  color: #ee8484;
  text-decoration: none;
}

.icon {
  color: white;
  font-size: 2.5rem;
  margin-left: 0.7em;
}

nav {
  margin-top: 1%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  font-family: "Nanum Myeongjo", serif;
  color: white;
  font-size: 2.5rem;
}

.nav-icon {
  color: white;
  font-size: 2.5rem;
  margin-left: 0.7em;
}
.logo {
  width: 7rem;
  height: 7rem;
  border: 4px solid white;
  font-family: "Varela Round", sans-serif;
  color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}